.AboutUs-Container {
  margin: 40px;
  letter-spacing: 2px;
  font-weight: 400;
}
.AboutUs--FirstDiv {
  margin-top: 40px;
}

.AboutUs--DigitalImpacts {
  text-align: center;
  font-size: large;
}
.AboutUs--DigitalImpacts > p > b {
  color: #2a363f;
}
.AboutUs--FirstDiv > h2 {
  color: black;
}
.AboutUs---3-div---Container {
  display: flex;
  width: fit-content;
  margin-top: 40px;
  margin-bottom: 40px;
}
.AboutUs---3-1div {
  background-color: #2a363f;
  color: white !important;
  text-align: center;
  align-self: center;
  width: 400px;
  padding: 12px;
  box-sizing: border-box;
}
.AboutUs---3-1div-h1 {
  color: whitesmoke;
}
.AboutUs---3-1div-h2 {
  color: whitesmoke;
}
.AboutUs---3-3div-h1 {
  color: #2a363f;
}
.AboutUs---3-3div-h2 {
  color: #2a363f;
}

.AboutUs---3-2div {
  background-color: #0796d6;
  color: white;
  text-align: center;
  width: 400px;
  padding: 12px;
  box-sizing: border-box;
}
.AboutUs---3-3div {
  background-color: whitesmoke;
  color: #2a363f;
  text-align: center;
  width: 400px;
  padding: 12px;
  box-sizing: border-box;
}
