.Form {
  display: flex;
  /* text-align: center; */
  width: fit-content;
  /* gap: 28px; */
  line-height: 32pt;
  gap: 20px;
  
}
label{
  color: #0796d6;
}
.Form--Card {
  padding: 20px 40px 50px 40px;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 2px 2px 8px #0796d6;
  opacity: 1;
  transition: 1s;
}
card>form>input{
  width: 360px;
  /* height: 50px; */
  /* border-bottom: solid; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #0796d6;
}
.form-submit-button{
  border-radius: 16px;
  width: fit-content;
  height: 30px;
  width: fit-content;
  box-sizing: border-box;
  padding: 0 12px;
  border: none;
  background-color: #0796d6;
  color: white;
}
.contact-numbers{
  display: flex;
}
h4{
  color: #0796d6;
}