/* body{
  height: 700px;
  width: fit-content;
} */
.Navbar--style {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0 20px 0;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 8px #0796d6;
  border-bottom: 16px solid #0796d6;
  position: sticky;
  top: 0;
  z-index: 1;
}
.Navbar--list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}
.logo-iamge {
  align-self: center;
}
.contact-button {
  align-self: center;
}
button {
  background-color: #0796d6;
  color: white;
  width: 140px;
  height: 28px;
  border: none;
  letter-spacing: 2px;
  opacity: 1;
  transition: 1s;
}
button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
/* .home-list {
  color: #0796d6;
  letter-spacing: 2px;
}
.about-us--list {
  color: #0796d6;
  letter-spacing: 2px;
}
.content-list {
  color: #0796d6;
  letter-spacing: 2px;
} */
.Navbar--list>li > a {
  text-decoration: none;
  opacity: 1;
  transition: 1s;
  color: #0796d6;
}
li {
  text-decoration: none;
  opacity: 1;
  transition: 1s;
  letter-spacing: 2px;
}
.Navbar--list>li:hover {
  cursor: pointer;
  transform: scale(1.2);
  /* color: gray; */
  color: #0796d6;
}
.logo-iamge > a > img {
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
}
.ul-div {
  align-self: center;
}
